@bgBlack: #080808;
@textWhite: #9d9d9d;
@hoverWhite: #fff;
.square(@a) {
  width: @a;
  height: @a;
  line-height: @a;
}

.circle(@diameter) {
  .square(@diameter);
  border-radius: 50%;
}

html, body, .container {
  height: 100%;
}

body {
  background:url("../images/bg-index.jpg");
  overflow: hidden;
  color: @textWhite;
  font-size: 0.8em;
}

.item {
  padding-top: 60px;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.skill-bubble {
  height: 70%;
  text-align: left;
  transform-style: preserve-3d;
  a {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.self-description {
  margin:0;
}

.project-box {
  margin-top:10px;
  a, img {
    display: block;
    width: 100%;
  }
  p {
    margin:10px 0;
    text-align: center;
  }
}

//.link-block {
//  display: block;
//  width: 140px;
//  height: 140px;
//  line-height: 140px;
//  margin: 0 auto;
//  border: 5px solid @hoverWhite;
//  border-radius: 10px;
//  text-align: center;
//  vertical-align: middle;
//  color: @hoverWhite;
//  font-size: 25px;
//  font-weight: 900;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//  -webkit-transition: all 500ms;
//  -moz-transition: all 500ms;
//  -ms-transition: all 500ms;
//  -o-transition: all 500ms;
//  transition: all 500ms;
//  &:hover, &:focus {
//    color: black;
//    background: @hoverWhite;
//  }
//}

//.link-block-animating {
//  -webkit-animation: kf-opacity 3s linear 0.7s infinite;
//  -o-animation: kf-opacity 3s linear 0.7s infinite;
//  animation: kf-opacity 3s linear 0.7s infinite;
//}

//@keyframes kf-opacity {
//  0.0001% {
//    opacity: 0;
//  }
//  50% {
//    opacity: 1;
//  }
//  100% {
//    opacity: 0;
//  }
//}
